@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pancake Group</h1>
    <p style="font-family: Arial; font-size:20px;">
        Group Members:<br />
        Colata, Ronald<br />
        Guyala, Kyla<br />
        Robel, Andrei<br />
        Rosales, Iris Joy<br />
        Sorila, Raquel
    </p>
</div>